@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }

  /* start hero section */

  .hero-main .hero-inner .hero-content .title {
    font-size: 65px;
  }

  /* end hero section */

  /* start cloux-info */

  .cloux-info-main .cloux-info-inner .cloux-info-col .cloux-info-box1 {
    padding: 28px;
  }
  .cloux-info-main .cloux-info-inner .cloux-info-col .cloux-info-box2 {
    padding: 28px;
  }
  .cloux-info-main .cloux-info-inner .cloux-info-col .cloux-info-box3 {
    padding: 28px;
  }
  .cloux-info-main .cloux-info-inner .cloux-info-col .main-title {
    font-size: 25px;
  }
  /* end cloux-info */

  /* start fifa soccer */

  .Fifa-inner {
    margin-left: 0px;
    margin-right: 0px;
    align-items: center;
  }

  /* end fifa soccer */

  /* start blog and news */

  .in-item-content {
    flex-wrap: wrap;
  }

  /* end blog and news */

  /* start footer */

  .footer-main .footer-bottom .footer-inner {
    flex-wrap: wrap;
  }
  .footer-main .footer-bottom .footer-inner .footer-col {
    width: 50%;
  }
  .footer-main .footer-bottom .footer-inner .footer-col .apps-ul li a {
    height: 35px;
  }
  .footer-main .footer-copyright .footer-inner {
    flex-wrap: wrap;
  }
  .footer-main .footer-copyright .footer-inner .copyright-content {
    width: 100%;
    flex-wrap: wrap;
  }
  .footer-main .footer-copyright .footer-inner .copyright-content .logo {
    width: 100%;
  }
  .footer-main .footer-copyright .footer-inner .copyright-content .text {
    width: 100%;
    text-align: center;
    margin: 20px 0;
  }
  .footer-main .footer-copyright .footer-inner .menu {
    width: 100%;
  }
  .footer-main .footer-copyright .footer-inner .menu ul {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  /* end footer */
}
@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }

  /* start header */
  .header-outer{
    background-color: #333;
  }
  .header-inner-item .header-logo img {
    width: 40%;
  }
  .navbar {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .header-elements > ul {
    display: none;
  }

  .element-btn {
    display: none;
  }

  /* end header */

  /* start hero section */

  .hero-main .hero-inner .hero-content .title {
    font-size: 48px;
  }

  /* end hero section */

  /* start categories */

  .categories-inner-in-items {
    width: 33.33%;
  }

  /* end categories */

  /* start game search */

  .games-form {
    flex-direction: column;
  }
  .games-input1 {
    width: 50%;
  }
  .dropdown {
    width: 50%;
  }

  /* end game search */

  /* start cloux-info */
  .cloux-info-main .cloux-info-inner {
    flex-wrap: wrap;
  }
  .cloux-info-main .cloux-info-inner .cloux-info-col {
    width: 100%;
    margin: 15px 0;
  }

  /* end cloux-info */

  /* start fifa soccer */

  .Fifa-inner {
    flex-wrap: wrap;
  }
  .fifa-inner-item {
    width: 100%;
  }
  .fifa-inner-item-image {
    display: none;
  }
  /* end fifa soccer */

  /* start featured games */

  .featuregame-inner-in-item2 li {
    width: 50%;
  }

  /* end featured games */

  /* start blog and news */
  .news-inner-in2 {
    flex-wrap: wrap;
  }
  .news-inner-in2 .news-inner-in-item {
    width: 100%;
    margin: 15px 0;
  }

  /* end blog and news */

  /* start about cloux box */
  .about-inner {
    flex-wrap: wrap;
  }
  .about-inner-item {
    width: 100%;
  }
  .about-inner-item-image {
    display: none;
  }
  /* end about cloux box */

  /* start game shop */
  .gameshop-inner-in2 {
    flex-wrap: wrap;
  }
  .gameshop-inner-in2 .gameshop-inner-in {
    width: 50%;
    margin: 15px 0;
  }

  /* end game shop */

  /* start footer */

  .footer-main .footer-bottom .footer-inner .footer-col .apps-ul li {
    width: 100%;
  }
  .newsletter-form {
    flex-wrap: wrap;
  }
  .newsletter-title {
    width: 100%;
    margin: 10px 0;
    text-align: center;
  }
  .newsletter-input::placeholder {
    font-size: 10px;
  }
  /* end footer */
}
@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
  /* start hero section */

  .hero-main .hero-inner .hero-content .title {
    font-size: 40px;
  }

  /* end hero section */

  /* start categories */

  .categories-inner-in-items {
    width: 50%;
  }
  .categories-inner-in2 {
    margin-left: 0px;
    margin-right: 0px;
  }
  /* end categories */

  /* start game shop */

  .gameshop-inner-in2 .gameshop-inner-in {
    width: 100%;
  }

  /* end game shop */

  /* start footer */

  .footer-main .footer-bottom .footer-inner .footer-col {
    width: 100%;
  }
  .Footer-inner {
    flex-wrap: wrap;
  }
  .footer-inner-item {
    width: 50%;
    box-sizing: border-box;
    margin: 20px 0;
  }
  .newsletter-input {
    width: 50%;
  }
  .newsletter-form {
    flex-direction: column;
  }
  /* end footer */
}
@media (max-width: 450px) {
  .container {
    max-width: 400px;
  }
  .categories-inner-in2 {
    margin-left: 0;
  }
  .categories-inner-in-items {
    width: 100%;
  }
  .featuregame-inner-in-item2 li {
    width: 100%;
  }
}
