@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
  /* start footer */

  .footer-main .footer-bottom .footer-inner {
    flex-wrap: wrap;
  }
  .footer-main .footer-bottom .footer-inner .footer-col {
    width: 50%;
  }
  .footer-main .footer-bottom .footer-inner .footer-col .apps-ul li a {
    height: 35px;
  }
  .footer-main .footer-copyright .footer-inner {
    flex-wrap: wrap;
  }
  .footer-main .footer-copyright .footer-inner .copyright-content {
    width: 100%;
    flex-wrap: wrap;
  }
  .footer-main .footer-copyright .footer-inner .copyright-content .logo {
    width: 100%;
  }
  .footer-main .footer-copyright .footer-inner .copyright-content .text {
    width: 100%;
    text-align: center;
    margin: 20px 0;
  }
  .footer-main .footer-copyright .footer-inner .menu {
    width: 100%;
  }
  .footer-main .footer-copyright .footer-inner .menu ul {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  /* end footer */
}
@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
  /* start footer */

  .footer-main .footer-bottom .footer-inner .footer-col .apps-ul li {
    width: 100%;
  }
  .newsletter-form {
    flex-wrap: wrap;
  }
  .newsletter-title {
    width: 100%;
    margin: 10px 0;
    text-align: center;
  }
  .newsletter-input::placeholder {
    font-size: 10px;
  }
  /* end footer */
}
@media (max-width: 576px) {
  .container {
    max-width: 540px;
    /* start footer */
  }
  .footer-main .footer-bottom .footer-inner .footer-col {
    width: 100%;
  }
  .Footer-inner {
    flex-wrap: wrap;
  }
  .footer-inner-item {
    width: 50%;
    box-sizing: border-box;
    margin: 20px 0;
  }
  .newsletter-input {
    width: 50%;
  }
  .newsletter-form {
    flex-direction: column;
  }
  /* end footer */
}
