* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --White: #fff;
}

.container {
  display: block;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

/* start header area */

.header-outer {
  background-color: transparent;
  padding: 2.308rem 0 1.154rem;
  width: 100%;
  position: absolute;
  z-index: 10;
}

.header-inner-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  display: flex;
  flex-direction: column;
}

.header-inner-item {
  display: flex;
}
.header-inner-item .header-logo img {
  width: 55%;
}

.header-elements {
  display: flex;
  justify-content: end;
  align-items: center;
}

.header-elements > ul {
  display: flex;
  margin: 0;
  padding: 0;
  cursor: pointer;
  vertical-align: middle;
}

.header-elements > ul > li {
  display: inline-block;
  font-size: 1.04rem;
  padding: 0 5px;
}

.header-elements > ul > li > a {
  color: #ffffff;
  padding: 0 2.5px;
  font-size: 13px;
  font-weight: 600;
  display: block;
  text-transform: capitalize;
  text-decoration: none;
  line-height: 1;
}

.header-elements > ul > li > a > .open-btn {
  font-size: 13px;
  vertical-align: middle;
  transition: all 0.3s ease-in-out;
}

.header-elements > ul > li > a > .open-btn:hover {
  color: #ffc311;
}

.header-elements > ul > li > a > .i-btn {
  font-size: 15px;
  font-weight: 500;
  vertical-align: middle;
  transition: all 0.3s ease-in-out;
}
.header-elements > ul > li > a > .i-btn:hover {
  color: #ffc311;
}

.element-btn {
  margin-left: 20px;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 5px;
}

.element-btn .element-btn1 {
  background-color: #ffc311;
  padding: 5px 15px;
  border-radius: 1.923rem 0rem 0rem 1.923rem;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  border-left: 0;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 10px;
}
.element-btn .element-btn2 {
  background-color: #ffc311;
  padding: 5px 15px;
  border-radius: 0rem 1.923rem 1.923rem 0rem;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  border-right: 0;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 10px;
}

.navbar > ul {
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
}

.navbar > ul > li {
  display: inline-block;
}

.navbar > ul > li > a {
  color: #ffffff;
  padding: 1.03rem;
  padding-right: 20px;
  font-size: 13px;
  font-weight: 700;
  display: block;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.navbar > ul > li > a:hover {
  color: #ffc311;
}

.navbar > ul > li > .icon::after {
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  font-weight: 900;
  display: inline-block;
  font-size: 0.5rem;
  position: relative;
  top: -1px;
  left: 6px;
}

.icon2::after {
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  font-weight: 900;
  display: inline-block;
  font-size: 0.5rem;
  position: relative;
  top: -1px;
  left: 6px;
}

.sub-menu {
  display: none;
  position: absolute;
  padding-top: 12px;
  background-color: white;
  transition: all 1s ease-in-out;
  border-top: 2px solid #ffc311;
  z-index: 5;
  min-width: 15rem;
  text-align: left;
}

.navbar > ul > li:hover > .sub-menu {
  display: block;
}
.sub-menu > li {
  list-style: none;
  border-bottom: 1px solid #eeeeee;
  position: relative;
}
.sub-menu > li > a {
  display: inline-block;
  padding: 10px 60px 10px 35px;
  color: #4a4a4a;
  text-decoration: none;
  font-size: 13px;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.sub-menu-item:hover {
  color: #ffc311;
}
.sub-menu > li > .sub-menu-in {
  padding-top: 12px;
  display: none;
  background-color: white;
  transition: all 1s ease-in-out;
  border-top: 2px solid #ffc311;
  z-index: 6;
  position: absolute;
  min-width: 15rem;
  text-align: left;
  top: 0px;
  left: 100%;
}
.navbar > ul > li > ul > li:hover > .sub-menu-in {
  display: block;
}
.sub-menu-in > li > a {
  display: inline-block;
  padding: 10px 60px 10px 35px;
  color: #4a4a4a;
  text-decoration: none;
  font-size: 13px;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.sub-menu-in > li > a:hover {
  color: #ffc311;
}
/* end header area */

/* start hero section */

.swiper-pagination-clickable .swiper-pagination-bullet {
	cursor: pointer;
	width: 15px;
	height: 15px;
  border: 1px solid white;
  background-color: transparent;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: white;
}
.hero-main {
  background-image: url("../images/egypt-slider-1920x941.jpg");
  background-position: center center;
  background-size: cover;
  height: 100%;
  position: relative;
  padding: 12.54rem 0;
  text-align: center;
  color: #ffffff;
}
.hero-main::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: #000000;
  opacity: 0.3;
}
.hero-main-2 {
  background-image: url("../images/fs-7-1920x950.jpg");
  background-position: center center;
  background-size: cover;
  height: 100%;
  position: relative;
  padding: 12.54rem 0;
  text-align: center;
  color: #ffffff;
}
.hero-main-3 {
  background-image: url("../images/nfs-slider.jpg");
  background-position: center center;
  background-size: cover;
  height: 100%;
  position: relative;
  padding: 12.54rem 0;
  text-align: center;
  color: #ffffff;
}

.hero-main .hero-inner .hero-content {
  position: relative;
  z-index: 5;
}
.hero-main .hero-inner .hero-content .game-details {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-main .hero-inner .hero-content .game-details li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}
.hero-main .hero-inner .hero-content .game-details li i {
  color: #ffc311;
  margin: 0 10px;
  font-size: 15px;
}
.hero-main .hero-inner .hero-content .game-details li a {
  color: white;
  font-size: 12px;
  transition: 0.3s;
}
.hero-main .hero-inner .hero-content .game-details li a:hover {
  color: #ffc311;
}
.hero-main .hero-inner .hero-content .title {
  font-size: 80px;
  font-family: "Titillium Web";
  line-height: 6.154rem;
  font-weight: 800;
  margin: 20px 0;
  text-transform: uppercase;
}
.hero-main .hero-inner .hero-content .detail {
  font-size: 15px;
  line-height: 30px;
}
.hero-main .hero-inner .hero-content .btns a {
  font-size: 14px;
  border-bottom: 0.1538rem solid #282828;
  border-bottom-color: white;
  color: white;
  font-weight: 600;
  display: inline-block;
  margin: 30px;
  text-transform: uppercase;
  transition: 0.3s;
  padding: 0.7692rem 1.538rem;
  cursor: pointer;
  z-index: 10;
}
.hero-main .hero-inner .hero-content .btns a:hover {
  color: #ffc311;
  border-bottom-color: #ffc311;
}
/* end hero section */

/* start catagories */

.categories-outer {
  display: block;
}

.categories-inner {
  display: block;
  padding-bottom: 80px;
}

.categories-inner-in1 {
  text-align: center;
  margin-bottom: 3.462rem;
}

.categories-inner-in1 ul li {
  display: inline-block;
  padding-right: 20px;
}

.categories-inner-in1 ul li a {
  color: #ffc311;
  display: block;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid #ffc311;
  padding: 12px 18px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.categories-inner-in1 ul li a:hover {
  background-color: #ffc311;
  color: #ffffff;
}

.categories-inner-in2 {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.categories-inner-in-items {
  padding: 0 15px;
  box-sizing: border-box;
  width: 25%;
}

.image {
  position: relative;
  box-shadow: 0 0 3rem rgba(0,0,0,.23);
}
.image img {
  width: 100%;
  vertical-align: middle;
}
.content {
	margin: 10px 0;
}
.genre {
  position: absolute;
  bottom: 10%;
  right: 10%;
}

.genre a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  margin-right: 0.2308rem;
  font-size: 10px;
  text-transform: uppercase;
}

.genre::after {
  content: "\f02c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ffc311;
  font-size: 13px;
  padding-left: 5px;
}

.content .content-a {
  color: #282828;
  font-size: 23px;
  line-height: 40px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 5px;
  text-decoration: none;
  font-family: "Titillium Web";
  transition: all 0.3s ease-in-out;
}

.content .content-a:hover {
  color: #ffc311;
}

.content .content-a2 a {
  color: #a0a0a0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 10px;
  padding-right: 3px;
  transition: all 0.3s ease-in-out;
}

.content .content-a2 a:hover {
  color: #ffc311;
}

.content-a2::before {
  content: "\f26c";
  color: #ffc311;
  font-size: 12px;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  padding-right: 10px;
  vertical-align: middle;
}

.content p {
  color: #a0a0a0;
  font-size: 12px;
  margin-bottom: 30px;
  line-height: 20px;
  margin-top: 7px;
}
.categories-inner-in3 {
  display: block;
  text-align: center;
  margin: 20px 0;
}
.categories-inner-in3 a {
  color: #ffc311;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid #ffc311;
  padding: 12px 18px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.categories-inner-in3 a:hover {
  background-color: #ffc311;
  color: #ffffff;
}
/* end catagories */

/* start game search */

.games-top {
  display: block;
  height: 100%;
  background-color: rgba(255, 195, 17, 0.6);
  position: relative;
  font-family: "Varela Round", sans-serif;
}

.games-top::before {
  content: "";
  position: absolute;
  background: url("../images/block-bg-1920x209\ \(1\).jpg");
  opacity: 0.75;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--White);
  text-align: left;
  font-family: sans-serif;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.games-inner {
  padding: 70px 0;
}

.games-content {
  margin: 0 auto;
  max-width: 1250px;
}

.games-title {
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Titillium Web", serif;
  padding: 0rem 1.154rem;
}

.games-form {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  padding: 0 0.7692rem;
}

.games-input {
  width: 100%;
  background-image: none;
  background-color: #fff;
  color: #777777;
  background: transparent;
  padding: 1rem 0.7rem;
  border: 1px solid #eeeeee;
  flex: 1;
  box-sizing: border-box;
  margin: 0;
  cursor: pointer;
  position: relative;
}

.games-input::placeholder {
  color: #fff;
  font-size: 12px;
}

/* .games-input::after{
  font-family: Font Awesome\ 5 Free;
  content: "\f078";
  font-size: .9rem;
  font-weight: 600;
} */

.games-input1 {
  width: 100%;
  background-image: none;
  background-color: #fff;
  color: #777777;
  background: transparent;
  padding: 1rem 1.538rem;
  border: 1px solid #eeeeee;
  flex: 1;
  box-sizing: border-box;
  margin: 0;
}

.games-input1::placeholder {
  color: #fff;
  font-size: 12px;
}

.games-submit {
  background-color: #ffffff;
  padding: 1.1538rem 1.538rem;
  flex: 1;
  border: none;
  color: #ffc311;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.games-submit:hover {
  background-color: #282828;
}

.games-input-sub {
  /* display: none; */
  position: absolute;
  width: 188px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.games-input-sub a {
  display: block;
  padding: 10px 0 10px 25px;
  text-decoration: none;
  color: #333;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
}

.games-input-sub a:hover {
  color: #ffc311;
}

.games-input-sub li:first-child {
  padding-top: 10px;
}

.games-input-sub li:last-child {
  padding-bottom: 10px;
}

/* end game search */

/* start cloux-info-main */

.cloux-info-main {
  display: block;
}
.cloux-info-main .cloux-info-inner {
  padding: 90px 0;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
}
.cloux-info-main .cloux-info-inner .cloux-info-col {
  width: 33.33%;
  padding: 0 15px;
  box-sizing: border-box;
}
.cloux-info-main .cloux-info-inner .cloux-info-col .cloux-info-content {
  position: relative;
  z-index: 2;
}
.cloux-info-main .cloux-info-inner .cloux-info-col .top-title {
  color: #ffc311;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1rem;
  margin-bottom: 0.6923rem;
  font-size: 13px;
}
.cloux-info-main .cloux-info-inner .cloux-info-col .main-title {
  font-size: 28px;
  line-height: 2.154rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 1.692rem;
  font-family: "Titillium Web";
}
.cloux-info-main .cloux-info-inner .cloux-info-col .text {
  font-size: 12px;
  line-height: 22px;
}
.cloux-info-main .cloux-info-inner .cloux-info-col .cloux-btn {
  margin: 10px 0;
}
.cloux-info-main .cloux-info-inner .cloux-info-col .cloux-btn a {
  font-size: 14px;
  color: #ffc311;
  border-bottom: 0.1538rem solid #282828;
  border-bottom-color: #ffc311;
  font-weight: 600;
  display: inline-block;
  text-transform: uppercase;
  padding: 0.7692rem 1.538rem;
  position: relative;
  cursor: pointer;
  z-index: 10;
}
.cloux-info-main .cloux-info-inner .cloux-info-col .cloux-btn a::before {
  position: absolute;
  background-color: #ffc311;
  width: 100%;
  height: 0%;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  z-index: 1;
  transition: 0.3s;
}
.cloux-info-main .cloux-info-inner .cloux-info-col .cloux-btn a:hover:before {
  height: 100%;
  transition: 0.3s;
}
.cloux-info-main .cloux-info-inner .cloux-info-col .cloux-btn a:hover span {
  color: white;
  z-index: 2;
  position: relative;
  transition: 0.3s;
}
.cloux-info-main .cloux-info-inner .cloux-info-col .cloux-info-box1 {
  position: relative;
  background-image: url("../images/box-1-bg.jpg");
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  padding: 45px;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.23);
}
.cloux-info-main .cloux-info-inner .cloux-info-col .cloux-info-box1::before {
  content: "";
  display: block;
  background: #000000;
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.cloux-info-main .cloux-info-inner .cloux-info-col .cloux-info-box2 {
  position: relative;
  background-image: url("../images/box-2-bg.jpg");
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  padding: 45px;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.23);
}
.cloux-info-main .cloux-info-inner .cloux-info-col .cloux-info-box2::before {
  content: "";
  display: block;
  background: #000000;
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.cloux-info-main .cloux-info-inner .cloux-info-col .cloux-info-box3 {
  position: relative;
  background-image: url("../images/box-3-bg.jpg");
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  padding: 45px;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.23);
}
.cloux-info-main .cloux-info-inner .cloux-info-col .cloux-info-box3::before {
  content: "";
  display: block;
  background: #000000;
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* end cloux-info-main */

/* start fifa soccer */

.Fifa-outer::before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: "";
  z-index: 1;
  display: block;
  background: #000;
  opacity: 0.6;
}
.Fifa-outer {
  width: 100%;
  position: relative;
  background-image: url(../images/fifa-release-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Fifa-inner {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 5;
  margin-left: -30px;
  margin-right: -30px;
  align-items: center;
  padding: 150px 0;
}

.fifa-inner-item {
  width: 50%;
}

.fifa-inner-item-content {
  /* position: absolute;
  width: 42%;
  padding-top: 135px;
  padding-bottom: 135px;
  margin-left: 160px; */

  /* padding-right: 30px; */
}

.fifa-inner-item-image {
  display: flex;
  justify-content: end;
  align-items: center;
}

.fifa-inner-item-image img {
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.35);
  width: 85%;
}
.fifa-inner-item-content .title {
  color: #fff;
  font-family: "Titillium Web";
  font-size: 55px;
  line-height: 50px;
  font-weight: 800;
  text-transform: uppercase;
}

.fifa-inner-item-content .title span {
  color: #ffa725;
  font-family: "Titillium Web";
}

.fifa-inner-item-content .par {
  color: #fff;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin: 45px 0;
}
.fifa-inner-item-content a {
  padding: 15px 20px;
  margin: 0 30px;
  color: #ffa725;
  text-decoration: none;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
  font-family: "Varela Round", sans-serif;
  margin-left: 0;
  border-bottom: 2px solid #ffa725;
  transition: all 0.3s ease-in-out;
}
.fifa-inner-item-content a::before {
  position: absolute;
  background-color: #ffc311;
  width: 100%;
  height: 0%;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  z-index: 1;
  transition: 0.3s;
}

.fifa-inner-item-content .btn a:hover::before {
  color: #fff;
  height: 100%;
}
.fifa-inner-item-content .btn a:hover span {
  color: white;
  z-index: 5;
  position: relative;
  transition: 0.3s;
}
/* end fifa soccer */

/* start feature game */
.featuregame-inner {
  padding: 150px 0;
}
.featuregame-inner-in-item1 {
  text-align: center;
  margin-bottom: 1.923rem;
  font-size: 45px;
  font-weight: 800;
  text-transform: uppercase;
  color: #282828;
  line-height: 1.1;
  font-family: "Titillium Web";
}

.featuregame-inner-in-item1 span {
  color: #ffc311;
  font-family: "Titillium Web";
}

.featuregame-inner-in-item2 {
  margin-top: 4.385rem;
}

.featuregame-inner-in-item2 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.featuregame-inner-in-item2 li {
  width: 33.33%;
  padding: 4px 17px;
  box-sizing: border-box;
}
.featuregame-inner-in-item-image::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 5;
  background: #ffa725;
  opacity: 0.5;
  transition: 0.4s;
}
.featuregame-inner-in-item-image:hover:before {
  height: 100%;
}
.featuregame-inner-in-item-image {
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
  margin-bottom: 1.308rem;
}
.featuregame-inner-in-item-image img {
  width: 100%;
}

.featuregame-inner-in-item-image:hover .main-content {
  position: absolute;
  bottom: -20%;
}

.featuregame-inner-in-item-image:hover h2 {
  position: absolute;
  bottom: -20%;
}
.featuregame-inner-in-item-image .main-content{
  position: absolute;
  bottom: 5%;
  left: 4%;
  transition: 0.4s;
}
.featuregame-inner-in-item-image h2 {
  /* position: absolute;
  bottom: 15%;
  left: 9%; */
  color: #ffffff;
  font-size: 26px;
  line-height: 0px;
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Titillium Web", sans-serif;
  margin-bottom: 1.385rem;
  transition: all 0.6s ease-in-out;
}
.featuregame-inner-in-item-image h3 {
  position: absolute;
  top: 50%;
  z-index: 10;
  right: -100%;
  transform: translate(50%, -50%);
  color: #ffffff;
  font-size: 26px;
  line-height: 0px;
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Titillium Web", sans-serif;
  margin-bottom: 1.385rem;
  text-align: center;
  transition: 0.4s;
  width: 100%;
}

.featuregame-inner-in-item-image:hover h3 {
  right: 50%;
}

.featuregame-inner-in-item-image .con-a {
  /* position: absolute;
  bottom: 10%;
  left: 9%; */
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin-right: 15px;
  transition: all 0.6s ease-in-out;
}

.featuregame-inner-in-item-image .con-b {
  /* position: absolute;
  bottom: 10%;
  left: 50%; */
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin-right: 15px;
  transition: all 0.6s ease-in-out;
}

.featuregame-inner-in-item-image .con-a::before {
  content: "\f26c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ffc311;
  margin-right: 10px;
  font-size: 12px;
}

.featuregame-inner-in-item-image .con-b::before {
  content: "\f02c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ffc311;
  margin-right: 10px;
  font-size: 15px;
}

/* end feature game */

/* start blog and news */
.news-outer {
  background-color: #f9f9f9 !important;
}
.news-inner {
  padding: 150px 0;
}
.news-inner-in1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  color: #282828;
  line-height: 1.1;
  font-family: "Titillium Web";
}

.news-inner-in1 span {
  font-family: "Titillium Web";
  color: #ffa725;
}

.news-inner-in2 {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.news-inner-in2 .news-inner-in-item{
  width: 33.33%;
  padding: 0 15px;
  box-sizing: border-box;
}
.news-inner-in-image img {
  width: 100%;
}
.news-inner-in-content {
  line-height: 30px;
  margin-top: 15px;
}

.news-inner-in-content .content-a {
  color: #282828;
  text-decoration: none;
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Titillium Web";
  transition: all 0.3s ease-in-out;
}

.news-inner-in-content .content-a:hover {
  color: #ffa725;
}

.news-inner-in-content p {
  font-family: "Varela Round";
  line-height: 25px;
  font-size: 13px;
  color: #282828;
  font-family: "Varela Round";
  margin-top: 15px;
  margin-bottom: 1.538rem;
}

.in-item-content {
  display: flex;
  align-items: center;
}

.in-item-content img {
  width: 5%;
  border-radius: 50%;
  margin-right: 10px;
}

.in-item-content a {
  color: #777;
  text-decoration: none;
  font-size: 13px;
}

.in-item-content h2 {
  color: #777;
  text-decoration: none;
  font-size: 13px;
  font-weight: normal;
}

.in-item-content h2 i {
  color: #ffa725;
  margin-right: 10px;
  margin-left: 17px;
  font-size: 15px;
}

.in-item-content h3 {
  color: #777;
  text-decoration: none;
  font-size: 13px;
  font-weight: normal;
}

.in-item-content h3 i {
  color: #ffa725;
  margin-right: 10px;
  margin-left: 17px;
  font-size: 15px;
}

/* end blog and news */

/* start about-cloux */
.about-outer::before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  content: "";
  display: block;
  background: #000;
  opacity: 0.6;
}
.about-outer {
  width: 100%;
  position: relative;
  background-image: url(../images/content-box-banner.jpg);
  background-size: cover;
  background-position: center;
}

.about-inner {
  z-index: 5;
  position: relative;
  padding: 150px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-inner-item {
  width: 50%;
}

.about-inner-item-content {
  /* position: absolute;
  width: 42%;
  padding-top: 135px;
  padding-bottom: 135px;
  padding-right: 60px;
  margin-left: -70px; */
}

.about-inner-item-image {
  display: flex;
  justify-content: start;
  align-items: center;
}
.about-inner-item-image img {
  width: 90%;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.35);
}
.about-inner-item-content .title {
  color: #fff;
  font-family: "Titillium Web";
  font-size: 55px;
  line-height: 50px;
  font-weight: 800;
  text-transform: uppercase;
}

.about-inner-item-content .title span {
  color: #ffa725;
  font-family: "Titillium Web";
}

.about-inner-item-content .par {
  color: #fff;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin: 45px 0;
}
.about-inner-item-content a {
  padding: 15px 20px;
  /* background-color: red; */
  margin: 0 30px;
  color: #ffa725;
  text-decoration: none;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
  font-family: "Varela Round", sans-serif;
  margin-left: 0;
  border-bottom: 2px solid #ffa725;
  transition: all 0.3s ease-in-out;
}
.about-inner-item-content a::before {
  position: absolute;
  background-color: #ffc311;
  width: 100%;
  height: 0%;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  z-index: 1;
  transition: 0.3s;
}

.about-inner-item-content a:hover::before {
  height: 100%;
  color: #fff;
}
.about-inner-item-content a:hover span {
  color: #fff;
  z-index: 5;
  position: relative;
}

/* end about-cloux */

/* start game shop */

.gameshop-inner {
  padding: 150px 0;
}

.gameshop-inner-in1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  color: #282828;
  line-height: 1.1;
  font-family: "Titillium Web";
}

.gameshop-inner-in1 span {
  font-family: "Titillium Web";
  color: #ffa725;
}

.gameshop-inner-in2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px;
  cursor: pointer;
}
.gameshop-inner-in2 .gameshop-inner-in {
  width: 33.33%;
  padding: 0 15px;
  box-sizing: border-box;
}
.gameshop-inner-in-content {
  line-height: 30px;
  margin-top: 15px;
}
.gameshop-inner-in img {
  width: 100%;
}
.gameshop-inner-in-content a {
  color: #282828;
  text-decoration: none;
  font-size: 25px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Titillium Web";
  transition: all 0.3s ease-in-out;
}

.gameshop-inner-in-content a:hover {
  color: #ffa725;
}

.gameshop-inner-in-content h2 {
  color: #ffa725;
  text-decoration: none;
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Titillium Web";
}

/* end game shop */

/* start footer area */

/*start footer top */
.footer-top {
  display: block;
  height: 100%;
  background-color: rgba(255, 195, 17, 0.6);
  position: relative;
}
.footer-top::before {
  content: "";
  position: absolute;
  background: url("../images/block-bg-1920x209\ \(1\).jpg");
  opacity: 0.75;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--White);
  text-align: left;
  font-family: sans-serif;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.newsletter-inner {
  padding: 70px 0;
}

.newsletter-content {
  margin: 0 auto;
  max-width: 1150px;
}

.newsletter-title {
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Titillium Web", serif;
  padding: 0rem 1.154rem;
}

.newsletter-form {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  padding: 0 0.7692rem;
}

.newsletter-input {
  width: 100%;
  background-image: none;
  background-color: #fff;
  color: #777777;
  background: transparent;
  padding: 1rem 1.538rem;
  border: 0.1538rem solid #eeeeee;
  flex: 1;
  box-sizing: border-box;
  margin: 0;
}

.newsletter-input::placeholder {
  color: #fff;
  font-size: 12px;
}

.newsletter-submit {
  background-color: #ffffff;
  padding: 1.1538rem 1.538rem;
  flex: 1;
  border: none;
  color: #ffc311;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.newsletter-submit:hover {
  background-color: black;
}

/*end footer top */

/* start footer middle */

.Footer-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.footer-inner-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  /* padding-right: 2.308rem;
  padding-left: 2.308rem; */
  padding: 0 7px;
  margin: 0 auto;
  font-weight: 600;
  text-transform: uppercase;
}

.footer-inner-item > a {
  text-decoration: none;
  color: #282828;
  transition: all 0.3s ease-in-out;
}

.footer-inner-item > a:hover {
  color: #ffc311;
}

.footer-inner-item i {
  font-size: 2.3rem;
  margin-bottom: 1.154rem;
  line-height: 2.692rem;
}

/* end footer middle */

.footer-main .footer-bottom {
  background-color: #111111;
  color: white;
}
.footer-main .footer-bottom .footer-inner {
  display: flex;
  padding: 60px 0;
}
.footer-main .footer-bottom .footer-inner .footer-col {
  width: 33.33%;
  padding: 0 10px;
  box-sizing: border-box;
}
.footer-main .footer-bottom .footer-inner .footer-col h2 {
  font-weight: 900;
  font-family: "Titillium Web";
  margin: 25px 0;
  font-size: 28px;
}
.footer-main .footer-bottom .footer-inner .footer-col h2 span {
  color: #ffc311;
  font-weight: 900;
  font-family: "Titillium Web";
}
.footer-main .footer-bottom .footer-inner .footer-col p {
  font-size: 13px;
}
.footer-main .footer-bottom .footer-inner .footer-col .about-ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}
.footer-main .footer-bottom .footer-inner .footer-col .about-ul li {
  width: 50%;
  margin: 5px 0;
}
.footer-main .footer-bottom .footer-inner .footer-col .about-ul li a {
  color: white;
  font-size: 13px;
  transition: 0.3s;
}
.footer-main .footer-bottom .footer-inner .footer-col .about-ul li a:hover {
  color: #ffc311;
}
.footer-main .footer-bottom .footer-inner .footer-col .about-ul li a::before {
  content: "";
  display: inline-block;
  border-right: 5px solid transparent;
  border-left: 5px solid #ffc311;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  margin-right: 15px;
}
.footer-main .footer-bottom .footer-inner .footer-col .post-item {
  display: flex;
  margin: 10px 0;
}
.footer-main .footer-bottom .footer-inner .footer-col .post-info {
  margin-left: 15px;
}
.footer-main .footer-bottom .footer-inner .footer-col .post-item .post-info a {
  color: white;
  font-weight: 600;
  font-size: 13px;
  transition: 0.3s;
}
.footer-main
  .footer-bottom
  .footer-inner
  .footer-col
  .post-item
  .post-info
  a:hover {
  color: #ffc311;
}
.footer-main .footer-bottom .footer-inner .footer-col .post-item .post-info p {
  font-size: 10px;
  margin: 5px 0;
}
.footer-main
  .footer-bottom
  .footer-inner
  .footer-col
  .post-item
  .post-info
  p
  i {
  color: #ffc311;
  margin-right: 5px;
}
.footer-main .footer-bottom .footer-inner .footer-col .apps-ul {
  display: flex;
  margin: 0 -0.5385rem -1.538rem;
  flex-wrap: wrap;
}
.footer-main .footer-bottom .footer-inner .footer-col .apps-ul li {
  width: 50%;
  box-sizing: border-box;
  padding: 0 10px 18px;
}
.footer-main .footer-bottom .footer-inner .footer-col .apps-ul li a {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  color: white;
  padding: 15px 26px;
  border: 1px solid rgb(47, 47, 47);
  transition: 0.3s;
}
.footer-main .footer-bottom .footer-inner .footer-col .apps-ul li a:hover {
  background-color: #ffc311;
}
.footer-main .footer-bottom .footer-inner .footer-col .apps-ul li a i {
  font-size: 25px;
  margin-right: 10px;
}
.footer-main .footer-bottom .footer-inner .footer-col .apps-ul li a p {
  font-size: 12px;
}
.footer-main .footer-copyright {
  background-color: #070707;
}
.footer-main .footer-copyright .footer-inner {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}
.footer-main .footer-copyright .footer-inner .copyright-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-main .footer-copyright .footer-inner .copyright-content .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-main .footer-copyright .footer-inner .copyright-content .logo img {
  height: 15px;
}
.footer-main .footer-copyright .footer-inner .copyright-content .text {
  color: white;
  font-size: 12px;
  margin-left: 20px;
}
.footer-main .footer-copyright .footer-inner .menu ul {
  display: flex;
}
.footer-main .footer-copyright .footer-inner .menu ul li a {
  color: white;
  font-size: 13px;
  padding: 0 15px;
}
/* end footer area */
