* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

/* start footer area */

/*start footer top */
.footer-top {
  display: block;
  height: 100%;
  background-color: rgba(255, 195, 17, 0.6);
  position: relative;
}
.footer-top::before {
  content: "";
  position: absolute;
  background: url("../images/block-bg-1920x209\ \(1\).jpg");
  opacity: 0.75;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: left;
  font-family: sans-serif;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.newsletter-inner {
  padding: 70px 0;
}

.newsletter-content {
  margin: 0 auto;
  max-width: 1150px;
}

.newsletter-title {
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Titillium Web", serif;
  padding: 0rem 1.154rem;
}

.newsletter-form {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  padding: 0 0.7692rem;
}

.newsletter-input {
  background-image: none;
  background-color: #fff;
  color: #777777;
  background: transparent;
  padding: 1rem 1.538rem;
  border: 0.1538rem solid #eeeeee;
  flex: 1;
  box-sizing: border-box;
  margin: 0;
}

.newsletter-input::placeholder {
  color: #fff;
}

.newsletter-submit {
  background-color: #ffffff;
  padding: 1.1538rem 1.538rem;
  flex: 1;
  border: none;
  color: #ffc311;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.newsletter-submit:hover {
  background-color: black;
}

/*end footer top */

/* start footer middle */
.Footer-container {
  background-color: #ffffff;
  cursor: pointer;
}

.Footer-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.footer-inner-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  /* padding-right: 2.308rem;
  padding-left: 2.308rem; */
  padding: 0 7px;
  font-weight: 600;
  text-transform: uppercase;
}

.footer-inner-item > a {
  text-decoration: none;
  color: #282828;
  transition: all 0.3s ease-in-out;
}

.footer-inner-item > a:hover {
  color: #ffc311;
}

.footer-inner-item i {
  font-size: 2.3rem;
  margin-bottom: 1.154rem;
  line-height: 2.692rem;
}

/* end footer middle */

.footer-main .footer-bottom {
  background-color: #111111;
  color: white;
}
.footer-main .footer-bottom .footer-inner {
  display: flex;
  justify-content: center;
  padding: 60px 0;
}
.footer-main .footer-bottom .footer-inner .footer-col {
  width: 33.33%;
}
.footer-main .footer-bottom .footer-inner .footer-col h2 {
  font-weight: 900;
  margin: 25px 0;
}
.footer-main .footer-bottom .footer-inner .footer-col h2 span {
  color: #ffc311;
}
.footer-main .footer-bottom .footer-inner .footer-col p {
  font-size: 13px;
}
.footer-main .footer-bottom .footer-inner .footer-col .about-ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}
.footer-main .footer-bottom .footer-inner .footer-col .about-ul li {
  width: 50%;
  margin: 5px 0;
}
.footer-main .footer-bottom .footer-inner .footer-col .about-ul li a {
  color: white;
  font-size: 13px;
  transition: 0.3s;
}
.footer-main .footer-bottom .footer-inner .footer-col .about-ul li a:hover {
  color: #ffc311;
}
.footer-main .footer-bottom .footer-inner .footer-col .about-ul li a::before {
  content: "";
  display: inline-block;
  border-right: 5px solid transparent;
  border-left: 5px solid #ffc311;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  margin-right: 15px;
}
.footer-main .footer-bottom .footer-inner .footer-col .post-item {
  display: flex;
  margin: 10px 0;
}
.footer-main .footer-bottom .footer-inner .footer-col .post-info {
  margin-left: 15px;
}
.footer-main .footer-bottom .footer-inner .footer-col .post-item .post-info a {
  color: white;
  font-weight: 600;
  font-size: 13px;
  transition: 0.3s;
}
.footer-main
  .footer-bottom
  .footer-inner
  .footer-col
  .post-item
  .post-info
  a:hover {
  color: #ffc311;
}
.footer-main .footer-bottom .footer-inner .footer-col .post-item .post-info p {
  font-size: 10px;
  margin: 5px 0;
}
.footer-main
  .footer-bottom
  .footer-inner
  .footer-col
  .post-item
  .post-info
  p
  i {
  color: #ffc311;
  margin-right: 5px;
}
.footer-main .footer-bottom .footer-inner .footer-col .apps-ul {
  display: flex;
  flex-wrap: wrap;
}
.footer-main .footer-bottom .footer-inner .footer-col .apps-ul li {
  width: 50%;
  padding: 0px 15px 15px 0px;
  box-sizing: border-box;
}
.footer-main .footer-bottom .footer-inner .footer-col .apps-ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid rgb(63, 63, 63);
  padding: 20px;
  transition: 0.3s;
}
.footer-main .footer-bottom .footer-inner .footer-col .apps-ul li a:hover {
  background-color: #ffc311;
}
.footer-main .footer-bottom .footer-inner .footer-col .apps-ul li a i {
  font-size: 30px;
  margin-right: 10px;
}
.footer-main .footer-bottom .footer-inner .footer-col .apps-ul li a p {
  font-size: 13px;
}
.footer-main .footer-copyright {
  background-color: #070707;
}
.footer-main .footer-copyright .footer-inner {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}
.footer-main .footer-copyright .footer-inner .copyright-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-main .footer-copyright .footer-inner .copyright-content .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-main .footer-copyright .footer-inner .copyright-content .logo img {
  height: 15px;
}
.footer-main .footer-copyright .footer-inner .copyright-content .text {
  color: white;
  font-size: 12px;
  margin-left: 20px;
}
.footer-main .footer-copyright .footer-inner .menu ul {
  display: flex;
}
.footer-main .footer-copyright .footer-inner .menu ul li a {
  color: white;
  font-size: 13px;
  padding: 0 15px;
}
/* end footer area */
